[flake8]
max-line-length = 88
extend-ignore = E203,E501,W503
exclude =
    .git,
    __pycache__,
    .pytest_cache,
    .mypy_cache,
    .venv,
    venv,
    */venv/*,
    */migrations/*
per-file-ignores =
    backend/config/settings/development.py:F403,F405
    backend/config/settings/production.py:F403,F405
